<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


    {{!-- nav and footer stylesheet --}}
    <link href="/css/style.css" rel="stylesheet">
    {{!-- form styling --}}
    <link href="/css/jass.css" rel="stylesheet">

   {{!-- home page style sheet --}}
    <link href="/css/home.css" rel="stylesheet">

  </head>

    <title>Tech Talk</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Tech Talk</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              {{#unless logged_in}}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>

              </li>
              {{/unless}}
            
              {{#if logged_in}}
              <li class="nav-item">
               <a class = "nav-link" href="/profile/">profile</a> 
               </li>
               <li class="nav-item">
               <a class="nav-link" id="logout">logout</a>
               </li>
              <li class="nav-item">
                <a class="nav-link" href="/leaderboard/">Leader Board</a>
              </li>
              <li class="nav-item">
               <a class = "nav-link" href="/settings/">settings</a> 
               </li>
              {{else}}
              <li class ="nav-item">
              <a class = 'nav-link'href="/login">login</a>
              </li>

              {{/if}}
            </ul>
          </div>
        </div>
      </nav>



{{!-- <head>

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fund My Project!</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <span role="img" aria-label="money">💸</span>
        <a href="/">Fund My Project!</a>
      </h1>
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>

    </header> --}}


    {{!-- </header> --}}


    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
      
    
  {{!-- </div> --}}

  <!-- Render script for logged in users only -->
 
  {{#if logged_in}}
  
  <script src="/js/logout.js"></script>
  {{/if}}
  </body>
</html>
