 
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{title}}</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

{{!-- blog post --}}
<h1>{{title}}<span class="badge badge-secondary">New</span></h1>
<p>{{blog_text}}</p>

