<!-- Loop over each object in the projects array -->

      <div class="jumbotron jumbotron-fluid">
        <div class="container hero-text" >
          <h1 class="display-4">NINJA GO</h1>
          <p class="lead">Ninja's don't wish upon a star. They throw them.</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="/profile" role="button">Login to Play</a>
          </p>
        </div>
      </div>
