<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th>Name</th>
      <th>Score</th>
    
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="d-flex align-items-center">
          <img
              src="{{avatar}}"
              alt=""
              style="width: 45px; height: 45px"
              class="rounded-circle"
              />
          <div class="ms-3">
            <p class="fw-bold mb-1">{{username}}</p>
            <p class="text-muted mb-0">{{email}}</p>
          </div>
        </div>
      </td>
      <td>
          <div class="ms-3">
            <p class="fw-bold mb-1">670</p>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>