

<div class=" welcome-row row row-cols-1 row-cols-md-2 g-2">
 <div class="usercard card mb-3" style="max-width: 500px; height: 11.5rem">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{avatar}}" class="img-fluid rounded-start" style ='height: 11rem; border-radius: 10px'alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title">{{username}}</h2>
        <h5 class="real-name card-title">{{name}}</h5>
        {{#if logged_in}}
        <p class="card-text">online</p>
        {{else}}
        <p class="card-text">off-line</p>
        {{/if}}
      </div>
    </div>
  </div>
 </div>

</div>
<div class="card"style = "width: 1280px">
  <div class="card-header">
    Play Game
  </div>
 <object id = 'iframeID'data ='/Ninja-Party/build' title="game-play" style="width: 1280px; height: 800px"> </object>


  <div class="card-body">
    <h5 class="card-title">Jump into Nin Go</h5>
    <p class="card-text">Choose various ninja, fight enemies, survive! How long can you survive?</p>
    <a href="/Ninja-Party/build/" class="startGame-btn btn btn-primary">Start Game</a>
  </div>
</div>

<script src="/js/profile.js"></script>
