


  
   <div class="profile-card card mb-3">
      <img src="{{avatar}}" class="rounded" width = "50%" height = "50%" alt="...">
     <div class="card-body">
        <h1 class="card-title">{{name}} </h1>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
     </div>
     <div><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable">
  Launch demo modal
</button></div>
   </div>
{{!-- blog submission form --}}

<form>
  <div class="form-outline mb-4">
    <input type="text" id="form6Example3" class="form-control" />
    <label class="form-label" for="form6Example3">Title</label>
  </div>

  <!-- Text input -->
  <div class="form-outline mb-4">
    <input type="text" id="form6Example4" class="form-control" />
    <label class="form-label" for="form6Example4">Description</label>
  </div>

    <div class="form-outline mb-4">
     <div>
       <button id="upload_widget" class="cloudinary-button">
        Upload Cover Photo
      </button>
      </div>
    </div>


  <!-- Message input -->
  <div class="form-outline mb-4">
    <textarea class="form-control" id="form6Example7" rows="4"></textarea>
    <label class="form-label" for="form6Example7">Article</label>
  </div>

  <!-- Checkbox -->
  <div class="form-check d-flex justify-content-center mb-4">
    <input class="form-check-input me-2" type="checkbox" value="" id="form6Example8" checked />
    <label class="form-check-label" for="form6Example8"> Create an account? </label>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Place order</button>
</form>


<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"> </script>
<script src="/js/profile.js"></script>
